//绝对居中
$absolute_center()
	display flex
	justify-content center
	align-items center

//1像素边框 pos = 位置
$1px_border(pos = bottom)
	background linear-gradient(transparent 0, transparent 50%, $borderColor 50%)
	background-size 100% 1px
	background-repeat no-repeat
	background-position pos



